/* nome e cognome */
header {
    background-color: black;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 20px;
}

/* body */
body {
    padding: 25px;
    background-color: aliceblue;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* competenze e hobbies */
.wrapper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 20px;
    border-style: solid;
    margin-top: 20px;
}
.wrapperTwo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 20px;
    border-style: solid;
    margin-top: 20px;
}

/* cerchio */
#circle {
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    justify-content: center;
}
.colorOne {
    background: black;
}
.colorTwo {
    background: darkblue;
}

/* mini calcolatrice */
.sum {
    background-color: black;
    color: aliceblue;
    border-radius: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    font-size: 20px;
}

/* dark mode button */
.enableDarkMode {
    position: absolute;
    background-color: black;
    top: 80px;
    right: 80px;
}
.darkMode {
    background-color: black; 
    color: aliceblue;
}
.enableLightMode {
    position: relative;
    background-color:black;
}
.lightMode {
    background-color: lightgreen; 
    color: black;
}